body {
    background-color: aqua;
}
h1  {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h2 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    line-height: 0fr;
}

img {
    border: blue;
    padding: 5px;
    margin: 20px
}
/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

